.header {
  padding: 92px 50px 96px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  text-decoration-skip-ink: none;
}

.header__menu-list {
  display: flex;
  align-items: start;
  gap: 30px;
  list-style: circle;
}

.header__menu-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
  object-fit: contain;
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  line-height: 24.3px;
  justify-self: end;
  text-underline-position: under;
  letter-spacing: 0.01em;
  font-style: inherit;
  margin-right: 33px;
}

.header__menu-item_no-bullit {
  list-style: none;
}

.header_menu-item_active {
  border-bottom: none;
}

.cover {
  background-image: url(../images/cover.jpg);
  min-height: 757px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 50px;
  /* margin-top: 120px; */
}

.overlay {
  position: absolute;
  opacity: 0.6;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cover__title {
  width: 100%;
  color: white;
  z-index: 1;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
  padding-left: 32px;
  padding-top: 20px;
}

.text-right {
  text-align: right;
  padding-top: 20px;
  margin-right: -30px;
}

.cover__description {
  display: flex;
  z-index: 1;
  justify-content: space-between;
}

.cover__description-text {
  display: flex;
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
  align-items: center;
}

.bet-button {
  color: white;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: 1px solid #fff;
  width: 256px;
  height: 51px;
  cursor: pointer;
}

.lots {
  margin: 181px 0px 155px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 25px;
  margin-left: 64px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 25px;
  margin-bottom: 28px;
}

.lots__card-list-item {
  display: flex;
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
  border-bottom: 1px solid;
}

.card {
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: column;
  padding: 49px 40px;
  justify-content: space-between;
  gap: 35px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
  color: #fff;
}

.card__text {
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin-left: 64px;
  text-decoration: none;
  border-bottom: 1px solid;
}

/* 3я секция about */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 49px;
  justify-items: center;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-left: 50px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin: 101px 0px;
}

.about__column-text {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

.footer {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  margin: 203px 50px 82px;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__address {
  justify-self: start;
  letter-spacing: 1px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #000;
}

.footer__social-list {
  display: flex;
  list-style: none;
  gap: 48px;
  justify-self: end;
}

.footer__menu-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.footer__menu-link_active {
  border-bottom: none;
  text-decoration: none;
}
